@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn{
    @apply border-2 border-[#cc5500]  bg-white mt-1 p-2 w-[240px] active:opacity-60
  }
  
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffe5b4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-overflow{
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  line-height: 19px;
}
